.image {
    max-width: 200px;
    max-height: 200px;
    margin-left: 50px;
    cursor: pointer;
}
.checkmark {
    max-width: 40px;
    max-height: 40px;
    margin-left: 50px;
}
.checkmark2 {
    max-width: 40px;
    max-height: 40px;
    margin-left: 300px;
}
.checkmark3 {
    max-width: 40px;
    max-height: 40px;
    margin-left: 490px;
}
.checkmark4 {
    max-width: 40px;
    max-height: 40px;
    margin-left: 730px;
}
.button {
    margin-top: 32px;
    margin-left: 32px;
}