<h1>Ihre Bildauswahl:</h1>
<div>
    <img mat-card-image (click)="image1Clicked()" class="image" src="../../../assets/Hund1.jpg"/>
    <img mat-card-image (click)="image2Clicked()" class="image" src="../../../assets/Hund2.jpg" />
    <img mat-card-image (click)="image3Clicked()" class="image" src="../../../assets/Hund3.jpg" />
    <img mat-card-image (click)="image4Clicked()" class="image" src="../../../assets/Hund4.jpg" />
</div>
<div *ngIf="checkmark1">
    <img class="checkmark" src="../../../assets/checkmark.png"/>
</div>
<div *ngIf="checkmark2">
    <img class="checkmark2" src="../../../assets/checkmark.png"/>
</div>
<div *ngIf="checkmark3">
    <img class="checkmark3" src="../../../assets/checkmark.png"/>
</div>
<div *ngIf="checkmark4">
    <img class="checkmark4" src="../../../assets/checkmark.png"/>
</div>
<div class="button">
    <button mat-raised-button (click)="redirect()">Weiter</button>
    {{error}}
</div>

<h1>File Uploader</h1>
<input type="file" (change)="uploadFile($event)" />
<button (click)="sendFile()">Send File</button>
